<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <div class="profile-section">
        <img src="assets/FotoCV.jpg" alt="Mi Foto" class="profile-image" />
        <h3 class="profile-name">José Manuel Sánchez Rosal</h3>
      </div>
      <mat-nav-list>
        <a mat-list-item routerLink="" routerLinkActive="active">
          <mat-icon>settings_accessibility</mat-icon>
          <span>Sobre mí</span>
        </a>
        <a mat-list-item routerLink="formacion" routerLinkActive="active">
          <mat-icon>auto_stories</mat-icon>
          <span>Formación</span>
        </a>
        <a mat-list-item routerLink="experiencia-laboral" routerLinkActive="active">
          <mat-icon>cases</mat-icon>
          <span>Experiencia Laboral</span>
        </a>
        <a mat-list-item routerLink="actitudes" routerLinkActive="active">
          <mat-icon>groups</mat-icon>
          <span>Actitudes</span>
        </a>
        <a mat-list-item routerLink="habilidades" routerLinkActive="active">
          <mat-icon>build</mat-icon>
          <span>Habilidades</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Contenido principal -->
    </mat-sidenav-content>
  </mat-sidenav-container>