/* menu-sidebar.component.scss */
.sidenav-container {
    height: 100vh;
    background-color: white;
  }
  
  .sidenav {
    width: 350px;
    color: white;
    background-color: green;
    text-align: center;
    padding: 2rem;
    white-space: normal;
    word-break: break-word;
  }
  
  .profile-section {
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 255, 255, 0.1);
  }
  
  .profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
  
  .profile-name {
    margin: 0;
    font-size: 1.1rem;
  }
  
  mat-nav-list {
    padding-top: 2.5rem;
    padding: 3.5rem;
  }
  
  a.mat-list-item {
    color: white;
  }
  
  a.mat-list-item.active {
    background-color: rgba(255, 255, 255, 0.1);
  }