body{
    width: 100vw;/**Esto es el 100% de la pantalla activa.*/
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
table{/**Punto 7*/
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;/**Para alinear al centro texto e imagen*/
    
}
td{
    border: 1px solid black;
    border-collapse: collapse;
    height: 30px;
    width: 150px;
}
td:nth-child(1), th:nth-child(1) {/**Punto 1*/
    background-color: #008000;
  }
  tr:nth-child(4) {/**Punto 2*/
    background-color: #ffff00; /**Fondo amarillo claro */
  }
a{/**Punto 3a*/
    text-decoration: none; /*Elimina el subrayado por defecto */
}
a:visited{/**Punto 3b*/
    color: red;
}
a:link{/**Punto 3c*/
    color: green;
}
.letradoble:hover{/**Punto 4*/
    font-size: 2em; /**Aumenta el tamaño de la fuente al doble */
}
th::first-letter {/**Punto 5*/
    font-size: 2em; /**Hace que la primera letra sea el doble de tamaño */
}
th{/**Ponerle borde al TH (titulos)*/
    border: 1px solid black;
    border-collapse: collapse;
}

input[required]{/**Punto 6*/
    border: 1px solid red;  /**Borde rojo de 2px */
    padding: 10px;            /**Añadir algo de espacio interno (opcional) */
    margin-bottom: 10px;      /**Separar el borde del siguiente elemento */
}
label.required::after {/**Punto 7*/
    content: " *";
    color: red;
    font-weight: bold;
    margin-left: 5px; /**Añade un pequeño espacio entre la etiqueta y el asterisco */
}