<section class="sobre-mi">
    <h2>Sobre mí</h2>
    <div class="sobre-mi-item">
      <p>
        Técnico especializado en Electricidad, Automatización Industrial y Mantenimiento, con experiencia en programación de autómatas (PLC), Mantenimiento Eléctrico y Operación de Centrales Termosolares.
      </p>
      <p>
        Durante más de 12 años, he trabajado como Operador de panel y Campo en la PST Palma del Río (I y II), supervisando procesos de generación de energía y gestionando sistemas de control distribuidos (DCS) y SCADA.
      </p>
      <p>
        Cuento con sólidos conocimientos en Instalaciones Eléctricas, Automatización y Mantenimiento de Maquinaria industrial. Actualmente, complemento mi perfil con la formación en Desarrollo de Aplicaciones Multiplataforma (DAM), enfocándome en la integración de tecnología y digitalización en entornos industriales.
      </p>
    </div>
  </section>
  