
<section class="formacion-academica">
    <h2>Formación Académica</h2>
    <ul class="lista-formacion">
      <li>
        <h3>CFGM Técnico Electricista</h3>
        <p><strong>Centro:</strong> Colegio Salesiano San Luis Rey</p>
        <p><strong>Año de finalización:</strong> 2005</p>
      </li>
      <li>
        <h3>CFGS Técnico Superior en Regulación y Control Automáticos</h3>
        <p><strong>Centro:</strong> Colegio Salesiano San Luis Rey</p>
        <p><strong>Año de finalización:</strong> 2007</p>
      </li>
      <li>
        <h3>CFGS Desarrollo de Aplicaciones Multiplataforma</h3>
        <p><strong>Centro:</strong> IES Antonio Gala</p>
        <p><strong>Año de finalización:</strong> 2026</p>
      </li>
    </ul>
  </section>