table, td{
/*AQUI TENEMOS LOS ESTILOS DE LA TABLA Y CELDA DEL EJERCICIO 4_4*/
    border-collapse: collapse;
}
td{
    border: 2px solid #e1e1e1;
    width: 85px;
    height: 55px;
    text-align: center;
    font-size: 10px;
}
tr{
    height: 55px;
}