<section class="habilidades">
    <h2>Habilidades</h2>
    <div class="habilidades-item">
      <span>Lógica de Programación y Scadas</span>
      <span>Sistema de Control Distribuído DCS y FCS</span>
      <span>Instrucciones Técnicas</span>
      <span>Análisis y Control del Ciclo Agua/Vapor en Termosolares</span>
      <span>Carnet de Operador de Calderas</span>
      <span>Formación en escenarios de Emergencia en Termosolares</span>
      <span>H&S</span>
      <span>Operación de Sala de Control de PTA</span>
      <span>LOTO</span>
    </div>
  </section>
  