<section class="experiencia-laboral">
    <h2>Experiencia Laboral</h2>
  
    <div class="experiencia-item">
      <h3>Operador de Panel y Campo</h3>
      <p><strong>Empresa:</strong> Central Termosolar Palma del Río I y II</p>
      <p><strong>Periodo:</strong> 2011 - 2024</p>
    </div>
  
    <div class="experiencia-item">
      <h3>Técnico Programador y Electricista</h3>
      <p><strong>Empresa:</strong> Neotest SL</p>
      <p><strong>Periodo:</strong> 2007 - 2009</p>
    </div>
  </section>
  